@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM sans", sans-serif;
    background-color: #fff;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}

p,
a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DM Mono";
    font-size: 0.85rem;
    font-weight: 550;
    line-height: 1;
    display: inline-block;
}

nav,
footer {
    position: fixed;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    mix-blend-mode: difference;
    z-index: 3;
}

nav .nav-links {
    display: flex;
    gap: 0.75rem;
}

footer {
    bottom: 0;
}

.clients {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2rem;
    overflow: hidden;
}

.clients-preview {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

.client-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    will-change: clip-path;
    overflow: hidden;
    pointer-events: none;
}

.client-img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    will-change: transform, opacity;
}

.clients-header p {
    position: relative;
    color: #acacac;
    z-index: 4;
}

.clients-list {
    position: relative;
    width: 80%;
    margin-bottom: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.75rem;
    mix-blend-mode: difference;
    z-index: 4;
}

.client-name {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.client-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.client-name:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2rem;
    }

    .clients-preview {
        width: 100%;
        height: 100%;
    }

    .clients-list {
        width: 100%;
    }
}